<header class="margin-bottom clear">
    <h1 class="">艺术品版权管理</h1>
    <div class="row margin-left col-md-6">
        <h4 style="margin-top: 10px;">输入检索关键词</h4>
        <input type="text" style="margin-top: 10px;" class="form-control pull-left" placeholder="支持ID、作品名、作者搜索" ng-model="searchText">
    </div>
    <div class="row margin-left col-md-10">
        <h4 style="margin-top: 10px;">筛选条件</h4>
        <div class="input-group col-md-5 pull-left" style="margin-top: 10px;">
            <span class="input-group-addon" id="kind">作品分类</span>
            <select class="form-control" ng-model="searchKind" ng-options="o.id as o.text for o in tags.kind_tag">
                <option value="">全部</option>
            </select>
        </div>
        <div class="col-md-2"></div>
        <div class="input-group col-md-5 pull-left" style="margin-top: 10px;">
            <span class="input-group-addon" id="shape">画作形状</span>
            <select class="form-control" ng-model="searchShape" ng-options="o.id as o.text for o in tags.work_shapes">
                <option value="">全部</option>
            </select>
        </div>
    </div>
    <div class="row margin-left col-md-10" style="margin-top: 10px;">
        <div class="input-group col-md-12" style="margin-top: 10px;">
            <span class="input-group-addon" id="theme">主题标签</span>
            <div class="col-md-12">
                <label class="checkbox-inline" ng-repeat="theme in tags.theme_tag">
                    <input type="checkbox" name="theme" ng-checked="isSelected('themeSelected',theme.id)" ng-click="updateSelection('themeSelected',$event,theme.id)">{{theme.name}}
                </label>
            </div>
        </div>
        <div class="input-group col-md-12" style="margin-top: 10px;">
            <span class="input-group-addon" id="style">风格标签</span>
            <div class="col-md-12">
                <label class="checkbox-inline" ng-repeat="style in tags.style_tag">
                    <input type="checkbox" ng-checked="isSelected('styleSelected',style.id)" ng-click="updateSelection('styleSelected',$event,style.id)">{{style.name}}
                </label>
            </div>
        </div>
        <div class="input-group col-md-12" style="margin-top: 10px;">
            <span class="input-group-addon" id="color">画作色系</span>
            <div class="col-md-12">
                <label class="checkbox-inline" ng-repeat="color in tags.color_tag">
                    <input type="checkbox" name="color" ng-checked="isSelected('colorSelected',color.id)" ng-click="updateSelection('colorSelected',$event,color.id)"><button type="button" class="lq-colorBtn" style="background: {{color.text}}"></button>
                </label>
            </div>
        </div>
    </div>
    <div class="row col-md-4 btn btn-default" style="margin-top: 20px;margin-left: 50px;" ng-click="search(searchText,searchKind,searchShape)">搜索</div>
    <div class="row col-md-4 btn btn-default" style="margin-top: 20px;margin-left: 50px;" ng-click="clear()">清空</div>
</header>

<button type="button" class="btn btn-info pull-right" ui-sref="tabs.artwork/artwork({artworkId:'NaN'})" ng-show="{{userInfo.data}} != 3">+ 创建艺术品</button>

<section class="margin-bottom">
    <table class="table table-bordered">
        <tr>
            <th class="text-center"></th>
            <th class="text-center">版权ID</th>
            <th class="text-center">作品名称</th>
            <th class="text-center">图片预览</th>
            <th class="text-center">作者</th>
            <th class="text-center">尺寸</th>
            <th class="text-center">年代</th>
            <th class="text-center">材质</th>
            <th class="text-center">作品卡</th>
            <th class="text-center">授权卡</th>
            <th class="text-center">审批</th>
        </tr>
        <tr ng-repeat="item in artworkList">
            <td class="text-center"><input type="checkbox" ng-checked="isSelected('selected',item.id)" ng-click="updateSelection('selected',$event,item.id)"></td>
            <td class="text-center"><a ui-sref="tabs.artwork/detail({artworkId:item.id})">{{item.copyright_number}}</a></td>
            <td class="text-center">{{item.name}}</td>
            <td class="text-center"><img class="sImg" ng-src="{{item.cover}}" alt=""></td>
            <td class="text-center">{{item.artist_name}}</td>
            <td class="text-center"><span ng-if="!item.width">不固定</span><span ng-if="item.width">{{item.width}}*{{item.height}}</span></td>
            <td class="text-center">{{item.year}}</td>
            <td class="text-center">
                <span>{{item.material}}</span>
            </td>
            <td class="text-center"><button type="button" class="btn btn-default" ui-sref="tabs.artwork/artwork({artworkId:item.id})" ng-disabled="{{userInfo.data}} == 3">编辑</button></td>
            <td class="text-center">
                <button type="button" class="btn btn-default" ng-show="item.authorize_body == null " ui-sref="tabs.artwork/accredit({artworkId:item.id})" ng-disabled="{{userInfo.data}} == 3">添加</button>
                <button type="button" class="btn btn-default" ng-show="item.authorize_body != null " ui-sref="tabs.artwork/accredit({artworkId:item.id})" ng-disabled="{{userInfo.data}} == 3">编辑</button>
            </td>
            <td class="text-center"><button class="btn btn-default" ng-disabled="item.state == 0 || item.authorize_body == null" ui-sref="tabs.artwork/request({artworkId:item.id})">发起</button></td>
        </tr>
    </table>
</section>
<footer>
    <input type="checkbox" ng-model="all" ng-click="allChecked(all)"> 全选
    <button type="button" class="btn btn-info pull-right" ng-click="print()">打印{{selected.length}}</button>
    <button type="button" class="btn btn-danger pull-right" style="margin-right: 10px;" ng-click="delArtwork()" ng-show="{{userInfo.data}} != 3">删除{{selected.length}}</button>
</footer>


<!-- 模态框 -->
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">版权管理平台</h4>
            </div>
            <div class="modal-body">
                <p>{{showMsg}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="no()">{{cancel}}</button>
                <button type="button" class="btn btn-primary" ng-hide="flag" ng-click="yes()">{{conf}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->